[submodule "SceneComplete"]
	path = SceneComplete
	url = git@github.com:chsahit/SceneComplete.git
[submodule "sam-3d-objects"]
	path = sam-3d-objects
	url = https://github.com/chsahit/sam-3d-objects.git
